In [1]:

import numpy as np
import pandas as pd

In [16]:
df = pd.DataFrame([[0,0,0],
                   [0,1,0],
                   [1,0,1],
                   [1,1,0]], columns = ['A', 'B', 'Output'])

In [17]:
df

   A  B  Output
0  0  0       0
1  0  1       0
2  1  0       1
3  1  1       0

In [26]:
w = [1,-1]
def AND(x):
    y = np.dot(x,w)
    return bin_step(y, 1)

In [29]:
def bin_step(y, th):
    return 1 if y>=1 else 0

In [30]:
print(f' A = 0 and B = 0 then output {AND([0,0])}')
print(f' A = 0 and B = 1 then output {AND([0,1])}')
print(f' A = 1 and B = 0 then output {AND([1,0])}')
print(f' A = 1 and B = 1 then output {AND([1,1])}')

 A = 0 and B = 0 then output 0
 A = 0 and B = 1 then output 0
 A = 1 and B = 0 then output 1
 A = 1 and B = 1 then output 0

In [31]:
# Play (2 Hrs)   Study(4 Hrs)    Output
#   0               0              0                       
#   0               1              0
#   1               0              0 
#   1               1              1

import numpy as np
import pandas as pd
df = pd.DataFrame([[0,0,0],
                   [0,1,0],
                   [1,0,0],
                   [1,1,1]], columns = ['Play', 'Study', 'Output'])

In [32]:
df

   Play  Study  Output
0     0      0       0
1     0      1       0
2     1      0       0
3     1      1       1

In [33]:
w = [1,1]
def AND(x):
    y = np.dot(x,w)
    return bin_step(y, 2)

In [36]:
def bin_step(y, th):
    return 1 if y>=th else 0

In [37]:
print(f' Play = 0 and Study = 0 then output {AND([0,0])}')
print(f' Play = 0 and study = 1 then output {AND([0,1])}')
print(f' Play = 1 and Study = 0 then output {AND([1,0])}')
print(f' Play = 1 and Study = 1 then output {AND([1,1])}')

 Play = 0 and Study = 0 then output 0
 Play = 0 and study = 1 then output 0
 Play = 1 and Study = 0 then output 0
 Play = 1 and Study = 1 then output 1